@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@500&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @layer base {
  input,
  button {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  }

  input:active,
  button:active {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  }
} */

body {
  font-family: "Crete Round", serif;
  padding: 0;
  margin: 0;
  background-color: rgba(249, 235, 226, 0.573);
  overflow-x: hidden;
}

/* .app {
  display: "flex";
  align-items: "center";
  justify-content: "center";
  height: "100vh";
  padding: "20px";
  box-sizing: "border-box";
} */
